html, body, .claro, #map {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

body {
	padding-top: 41px;
	padding-bottom: 40px;
}

.navbar-inverse .navbar-inner {
  background-image: -webkit-linear-gradient(top, #192587, #3C4CD4);
	background-image: -moz-linear-gradient(top, #192587, #3C4CD4);
	background-image: -o-linear-gradient(top, #192587, #3C4CD4);
	background-image: -ms-linear-gradient(top, #192587, #3C4CD4);
	background-image: linear-gradient(top, #192587, #3C4CD4);
	background-repeat: repeat-x;
	border-color: #252525;
}

.navbar .brand {
	color: #E8FFFD
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #E8FFFD;
  text-decoration: none;
  background-color: #876C0B;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.brand, .navbar-inverse .nav > li > a {
color: #E8FFFD;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}